{% extends 'base.html.twig' %}

{% block body %}

    Dash board
    <br>
     <h3 style="color: #5eb5e0">Hello {{ user.fullName }}</h3>
    <br>
    <a href="{{ path('add_product') }}">Add Product</a>|
    <a href="{{ path('user_logout') }}">LogOut</a>

    <h3> My Products </h3>

    {% for product in myProducts %}
        ------------------
        <h4> {{ product.title }}</h4>
        <p>{{ product.summary }}</p>
        <p style="color: green">Created By "{{ product.owner.fullName }}"</p>
        <a href="{{ path('view_product',{'id':product.id}) }}">View Product</a>
        <br>
        
    {% endfor %}

{% endblock %}